.corpo {
    display: flex;
    background-color: #F7F7F7;
    height: 100vh;
    width: 100vw;
}


#esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232023;
    height: 100%;
    width: 15%;
}

#esquerda img {
    height: 8vw;
}

#esquerda-cima {
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#esquerda-centro {
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
}


#navegacao {
    width: 85%;
    height: 40%;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#navegacao h1 {
    margin: 0;
    margin-left: 0.5vw;
    font-size: 0.92vw;
    transition: 0.2s ease;
    line-height: normal;
    font-weight: bold;
}

#navegacao h1:hover {
    cursor: pointer;
    margin-left: 15px;
}

.linha {
    background-color: #999999;
    height: 0.1vw;
    width: 90%;
}

#esquerda-baixo {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#navegacaoSair {
    width: 85%;
    height: 65%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#btSair {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btSair h1 {
    font-size: 1vw;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 0;
}

#btSair h1:hover {
    color: #ff0000;
}


#btSair img {
    height: 1.25vw;
}


#centro {
    height: 100%;
    width: 85%;
}

#centro-cima {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
}

#lado-titulo {
    display: flex;
    height: 80%;
    width: 56.8%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 3.5%;
}


#titulo {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2.45vw;
    white-space: nowrap;
    color: #268184;
}

/* STYLE NOVO */


#spn_subtitulo {
    font-size: 1.2vw;
    margin-left: 3%;
    color: #656565;
}

#centro-baixo {
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 1vw;
}

.container_graficos {
    height: 95%;
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vw;
}

.container_graficos:nth-child(2) {
    width: 23%;
}

#container_kpi, #container_left_graficos {
    width: 100%;
}

#container_kpi {
    height: 22%;
    display: flex;
    justify-content: space-between;
}

.box_style_kpi {
    height: 100%;
    width: 32%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.8vw 0;
    flex-direction: column;
}

.container_titulo_kpi {
    width: 100%;
    overflow: hidden;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_titulo_kpi, .container_dado_kpi, .container_detalhamento_kpi {
    padding: 0 1vw;
}

.container_dado_kpi {
    display: flex;
    align-items: center;
    padding: 0 1.4vw;
}

.h2_titulo_kpi {
    margin: 0;
    font-size: 1vw;
    font-weight: 400;
}

.h2_dado_kpi {
    font-size: 2vw;
    font-weight: bold;
}

.container_dado_kpi {
    height: 45%;
    width: 100%;
}

.container_detalhamento_kpi {
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.box_detalhamento {
    font-size: 1vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
}

.spn_detalhamento {
    font-size: 1.15vw;
    font-weight: 550;
}

.color_critico {
    color: #FB2B3A;
}

.color_moderado {
    color: #e3bf0a;
}


.img_kpi {
    height: 1.4vw;
    width: 1.4vw;
}

#container_left_graficos {
    height: 78%;
    display: flex;
    justify-content: space-between;
}

.container_grafico_baixo {
    height: 100%;
    background: #000;
    width: 49%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h2_grafico {
    text-align: center;
    font-size: 1.2vw;
    color: #000;
    font-weight: 400;
}

.container_grafico_baixo .h2_grafico {
    height: 10%;
}

.box_grafico_baixo {
    height: 82%;
    width: 100%;
    padding: 0 2vw;
}


.container_grafico_direita {
    width: 100%;
    height: 49.5%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.3vw 2vw;
}

.container_graficos .container_grafico_direita:nth-child(2) {
    padding: 0.3vw 1vw;
    justify-content: space-around;
}

#box_grafico_direita {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box_grafico3_sem_dados {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#img_grafico3_sem_dados {
    width: 3vw;
}

#spn_grafico3_sem_dados {
    text-align: center;
    margin-top: 3%;
    font-size: 1vw;
}

#container_titulo_gerenciar {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1vw;
}

#img_lista {
    width: 1.2vw;
}

#container_lista_metricas {
    height: 68%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#container_lista_gerenciar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_lista_metricas {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: space-between;
}

#spn_titulo_lista {
    font-size: 1.2vw;
}

.span_title_metricas, .span_metricas {
    display: flex;
    align-content: center;
    justify-content: center;
}

.span_title_metricas {
    font-size: 1vw;
    font-weight: 500;
}

.span_metricas {
    font-size: 1vw;
}

#container_lista_metricas .box_lista_metricas:nth-child(1) .span_metricas {
    font-size: 1.3vw;
}

#btn_gerenciar {
    all: unset;
    cursor: pointer;
    width: 16vw;
    height: 58%;
    text-align: center;
    background: #4fbaff;
    border-radius: 12px;
    border: 2px solid #000;
    font-size: 1.2vw;
    color: #000;
    font-weight: 450;
    transition: 0.12s ease;
}

#btn_gerenciar:hover {
    background: #43a4e4;
}

#btn_gerenciar:active {
    transform: scale(0.95);
}

#container_sombra {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #0000007f;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_gerenciar {
    position: relative;
    width: 72%;
    height: 75%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_fechar_gerenciar {
    position: absolute;
    width: 1.5vw;
    top: 3.8%;
    right: 1.8%;
    cursor: pointer;
}

#box_gerenciar {
    width: 93%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#box_titulo_gerenciar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    width: 100%;
}

#h2_titulo_gerenciar {
    font-size: 2vw;
    font-weight: bold;
    color: #000;
    margin: 0;
}

#span_titulo_gerenciar {
    margin-left: 3%;
    margin-top: 0.5%;
    font-size: 1.2vw;
    color: #656565;
}

#box_gerenciar_atms {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2vw;
}

.box_atm {
    flex: none;
    height: 8.5vw;
    width: 100%;
    background: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 0.5vw.8vw 0.5vw 1.5vw;
    overflow: hidden;
}

.container_titulo_atm {
    display: flex;
    height: 40%;
    align-items: center;
    gap: 0.8vw;
}

.nome_atm {
    font-size: 1.8vw;
    font-weight: bold;
}

.nome_componente {
    width: 5vw;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.2px solid #999999;
    color: #999999;
    font-size: 0.9vw;
    border-radius: 12px;
}

.status_critico, .status_moderado, .status_pendente, .status_resolvido {
    width: 7vw;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.2px solid #000000;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1vw;
}

.status_critico {
    background: #FB2B3A;
}

.status_pendente {
    background-color: #9fa2d4;
}

.status_moderado {
    background-color: #ffd717;
}

.status_resolvido {
    background-color: #58f058;
}

.desc_atm {
    font-size: 1.3vw;
}

.container_acao_alerta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 30%;
}

.img_check {
    width: 1.6vw;
    cursor: pointer;
}

.dataHora_captura {
    font-size: 1vw;
}

.btn_resolvido, .btn_emAberto {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 12vw;
    font-size: 1vw;
    border: 2.2px solid #52cd52;
    color: #52cd52;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.18s ease;
}

.btn_resolvido:hover {
    background: #52cd52;
    color: #fff;
}

.btn_resolvido:active, .btn_emAberto:active {
    transform: scale(0.95);
}

.btn_emAberto {
    border: 2.2px solid #7b7da2;
    color: #7b7da2;
}

.btn_emAberto:hover {
    background: #7b7da2;
    color: #fff;
}

.linha {
    height: 0.5px;
    width: 100%;
    background: #929292;
}

#box_sem_atm {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box_img_sem_atm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    flex-direction: column;
}

#img_sem_atm {
    width: 4vw;
}

#spn_sem_atm {
    font-size: 1vw;
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}