#mainDesktop {
    height: 90vh;
    width: 100%;
    display: flex;
}

.container-escolha-desktop {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-info-cadastro-desktop {
    width: 75%;
    height: 65%;
    border: 2px solid #00C4CC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#h1-desktop {
    color: #000;
    text-align: center;
    margin-top: 2%;
    font-family: 400;
    font-size: 3vw;
}

.span-tipoCadastro {
    color: #000;
    text-align: center;
    width: 100%;
    font-size: 2vw;
}

.descricao-desktop {
    color: #000;
    text-align: center;
    width: 80%;
    font-size: 1vw;
}