@font-face {
    font-family: poppins leve;
    src: url('../../../Assets/assets_dashboard/poppins/Poppins-Light.ttf');
}

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --ciano: #268184;
    --branco: #f7f7f7;
    --preto: #232023;
    --cinza-linha: #999999;
    --azul-claro: #2ed1d7;
}

body {
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.corpo {
    display: flex;
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
}

#esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232023;
    height: 100%;
    width: 15%;
}

#esquerda img {
    height: 8vw;
}

#esquerda-cima {
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquerda-centro {
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
}

#navegacao {
    width: 85%;
    height: 40%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#navegacao h1 {
    margin: 0;
    margin-left: 0.5vw;
    font-size: 0.92vw;
    transition: 0.2s ease;
    line-height: normal;
    font-weight: bold;
}

.linha {
    background-color: #999999;
    width: 100%;
    height: 0.1vw;
}

#esquerda-baixo {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegacaoSair {
    width: 85%;
    height: 65%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#btSair {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btSair h1 {
    font-size: 1vw;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 0;
}

#btSair h1:hover {
    color: #ff0000;
}

#btSair img {
    height: 1.25vw;
}

#centro {
    height: 100%;
    width: 85%;
}

#centro-cima {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
}

#lado-titulo {
    display: flex;
    height: 100%;
    width: 56.8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4.5%;
}

#titulo {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.45vw;
    margin-left: 2%;
    white-space: nowrap;
    color: #268184;
}

#comboATMs {
    border: none;
    outline: none;
    height: 45%;
    width: 12%;
    background-color: #2ed1d7;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    margin-left: 3%;
}

.container-kpis {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.kpi {
    background-color: var(--azul-claro);
    width: 17vw;
    height: 17vh;
    border-radius: 10px;
    color: var(--branco);
    font-weight: bold;
    position: relative; 
    overflow: hidden;   
    cursor: help;      
    transition: transform 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.kpi-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 1;
    transform: translateX(0); 
}

.kpi-info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    padding: 20px;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%); 

    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.kpi:hover .kpi-content {
    opacity: 0;
    transform: translateX(100%);
}

.kpi:hover .kpi-info-overlay {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.title-kpi {
    font-size: 2rem;
    color: var(--ciano);
}

.data-kpi {
    font-size: 2rem;
}

.status-kpi {
    margin-top: 4%;
    font-size: 1.2rem;
    color: var(--ciano);
}

#kpi1 {
    margin-left: 5%;
}

.kpi-title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}



.container-graficos {
    width: 100vw;
    height: 63vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.caixa-grafico {
    background-color: var(--azul-claro);
    width: 50vw;
    height: 60vh;
    margin-left: 5%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.caixa-alertas {
    background-color: var(--azul-claro);
    width: 20vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-alertas-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3%;
    color: var(--branco);
    margin-bottom: 5%;
}

.caixa-grafico-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--branco);
    text-align: center;
    margin-top: 2%;
}

#grafico-linha {
    margin-top: 2%;
}

.container-alertas {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.alerta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ciano);
    padding: 5% 3%;
    color: var(--branco);
    font-weight: bold;
    width: 70%;
    border-radius: 10px;
}

.title-alerta {
    font-size: 1.4rem;
}

.dado-alerta {
    font-size: 1.5rem;
    margin-top: 4%;
}

.data-alerta {
    font-size: .7rem;
    margin-top: 4%;
}

.container-botao-historico {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao-historico {
    background-color: var(--branco);
    padding: 4% 20%;
    border-radius: 10px;
    font-weight: bold;
    color: var(--ciano);
    transition: .5s ease all;
}

.botao-historico:hover {
    cursor: pointer;
    transform: scale(1.02);
}