#botao-chamado {
    font-size: 0.9vw;
}

#esquerda-centro {
    all: unset;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

#esquerda-baixo {
    all: unset;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-dashborads {
    display: flex;
    align-items: center;
}

#navegacao {
    all: unset;
    width: 85%;
    height: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.botoes-individuais-inativo {
    display: none;
    transition: all 0.5s ease;
}

.botoes-individuais-ativo {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    gap: 5px;
}

.botao-seta-baixo {
    transform: rotate(90deg);
}
