* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#header_mobile {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    transition: 0.2s ease;
    background-color: #000;
}

.espaco-header-mobile {
    padding-top: 10vh !important;
}

#header_logo_mobile {
    width: 20vw;
}

#header_menu_mobile {
    width: 4vw;
}

#container_menu_mobile {
    position: fixed;
    overflow: hidden;
    top: 10vh;
    height: 0;
    width: 100%;
    transition: 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000;
    background-image: url("../Assets/Elements/fundoMenu_mobile.svg");

}

#h2_menu {
    font-size: 6vw;
    color: #fff;
    font-weight: 450;
}

#navegacao_header_mobile {
    height: 70vh;
    display: flex;
    justify-content: center;
}

#nav_header_mobile {
    height: 80%;
    width: 100%;
    display: flex;
}

#ul_header_mobile {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
}

.li_header_mobile {
    list-style: none;
    font-size: 3.5vw;
    width: 65%;
}

.divisor_li_mobile {
    height: 0.12vw;
    width: 100%;
    background: #00C4CC;
}

.container_header_li_mobile {
    height: 8.4vh;
    padding-left: 8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

#main_mobile {
    padding-top: 10vh;
    height: 200vh;
    width: 100%;
}

#container_inicial_mobile {
    background: url("../Assets/Elements/bg_inicio_desktop.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 8vw;
}

#subcontainer_inicial_top_mobile {
    padding-top: 1vw;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#subcontainer-info-txt-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#p-inicial-info-txt-mobile, #p-inicial-info-descricao-mobile {
    width: 90%;
    height: auto;
}

#p-inicial-info-txt-mobile {
    font-size: 10vw;
    font-weight: 300;
}

#p-inicial-info-descricao-mobile {
    font-size: 4.5vw;
    font-weight: 200;
}

.btn_style_mobile {
    width: 60vw;
    padding: 0 2.2vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20vw;
    font-size: 3.8vw;
    margin-top: 2%;
    background: #D5D5D5;
    border: none;
    color: #000;
}

.btn_arrow_style_mobile {
    width: 6vw;
}

.a_btn_mobile {
    text-decoration: none;
}

#subcontainer_inicial_img_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
}

#img_inicio_mobile {
    width: 100vw;
}

#subcontainer_inicial_parceiros_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#span-parceiros-mobile, #img1-parceiros-mobile {
    padding-left: 3vw;
}

#span-parceiros-mobile {
    font-size: 5vw;
}

#img1-parceiros-mobile {
    width: 23vw;
}

#container_oque_fazemos_mobile {
    height: auto;
}

.span-title-mobile {
    font-size: 5vw;
    display: block;
    text-align: center;
    width: 100%;
}

.h1-title-mobile {
    color: #000;
    text-align: center;
    font-size: 6vw;
    font-weight: 400;
}

#container_cards_mobile {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vw;
    padding: 6vw 0;
}

.cards_mobile {
    height: 62vw;
    width: 90%;
    background: #f4f4f4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vw 0;
}

.box_img_cards_mobile {
    display: flex;
    align-items: center;
    padding-left: 5vw;
    height: 30%;
}

.img_cards_mobile {
    width: 20%;
}

.box_txt_cards_mobile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 65%;
    padding-left: 5vw;
}

.spn_title_cards {
    color: #000;
    font-size: 5vw;
    font-weight: 400;
}

.p_txt_cards {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 3.8vw;
    width: 95%;
}