/* HEADER */

#header-desktop {
    height: 10vh;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #1a1a1a;
    position: fixed;
    overflow: hidden;
    transition: background 0.25s ease-in;
}

.espaco-header-desktop {
    padding-top: 10.5vh !important;
}

.container-header-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
}

.container-header-desktop:nth-child(1), .container-header-desktop:nth-child(3) {
    width: 20%;
}

.container-header-desktop:nth-child(2) {
    width: 50%;
}

#header-logo-desktop {
    width: 10vw;
}

#header-nav-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#header-nav-ul-desktop {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header-nav-li-desktop {
    cursor: pointer;
    font-size: 1vw;
}

#a-btn-desktop {
    all: unset;
    width: 8vw;
    height: 3vw;
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#btn-desktop {
    all: unset;
    color: #000;
    font-size: 1.15vw;
}

/* FIM HEADER */

/* FOOTER */

#footer_desktop {
    background: #000;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-footer-desktop {
    width: 75%;
    height: 82%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;

}

.subcontainer-footer-desktop:nth-child(1) {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.2px solid #fff;
}

.subcontainer-footer-desktop:nth-child(2) {
    height: 25%;
    margin-top: 2%;
}

.box-subcontainer-footer-desktop {
    width: 33.15%;
    background: #000;
    height: 100%;
}

.box-subcontainer-footer-desktop {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#logo-footer-desktop {
    width: 7.2vw;
}

#p-footer-desktop {
    margin-top: 2%;
    font-size: 0.9vw;
    width: 90%;
}

#nav-footer-desktop {
    height: 50%;
}

#ul-footer-desktop {
    list-style: none;
    margin: 0;
    margin-top: 5%;
    padding: 0;
    font-size: 1vw;
    font-weight: 300;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.li-footer-desktop {
    cursor: pointer;
}

#span-footer-nav-desktop {
    font-size: 1.2vw;
}

.box-subcontainer-footer-desktop:nth-child(3) {
    justify-content: start;
}

#container-footer-cadastro-desktop {
    height: 40%;
    width: 85%;
}

#label-footer-cadastro-desktop {
    font-size: 1.1vw;
    font-weight: 300;
    margin-top: 3%;
}

#input-razao-social-footer-desktop {
    width: 100%;
    height: 45%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin-top: 3%;
}

#ipt-razao-social-footer-desktop {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    padding: 0;
    padding-left: 0.5vw;
    margin: 0;
    width: 58%;
    font-size: 0.9vw;
}

#btn-input-footer-desktop, #a-btn-input-footer-desktop {
    all: unset;
}

#a-btn-input-footer-desktop {
    color: #fff;
    background: #252525;
    border-radius: 20px;
    height: 80%;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    cursor: pointer;
}

#btn-input-footer-desktop {
    height: 100%;
    width: 100%;
    text-align: center;
}

#form-footer-cadastro-desktop {
    height: 100%;
    width: 100%;
}

.subcontainer-footer-desktop:nth-child(2) {
    display: flex;
}

.box-subcontainer-info-footer-desktop:nth-child(1) {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-box-info-footer-desktop {
    width: 32.1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-subcontainer-info-footer-desktop:nth-child(2) {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.span1-box-footer-desktop {
    font-size: 1vw;
}

.span2-box-footer-desktop {
    font-size: .8vw;
}

.img-social-footer-desktop {
    width: 3vw;
}


/* FIM FOOTER */





body {
    overflow-x: hidden;
}

#main-desktop {
    width: 100%;
}

#container_inicial_desktop {
    overflow: hidden;
    background-image: url("../Assets/Elements/bg_inicio_desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicial-desktop-right {
    display: flex;
    align-items: center;
    width: 55vw;
}

#img_inicio_desktop {
    width: 70vw;
    height: auto;
    transform: translate(-20%, 7%);
}

#inicial-desktop-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#subcontainer-inicial-desktop-left {
    width: 25%;
}

#bg_pontos_desktop {
    width: 9.8vw;
    margin-top: 4vw;
    transform: translate(-35%, 7%);
}

#subcontainer-inicial-desktop-right {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subcontainer-inicial-info-desktop {
    padding-top: 6vw;
    width: 100%;
    /* background: #000; */
}

#subcontainer-info-txt-desktop {
    height: auto;
}

#p-inicial-info-txt {
    margin-top: 10%;
    font-weight: 400;
    font-size: 3.2vw;
}

.color-txt-inicial {
    color: #00c4cc;
}

#p-inicial-info-descricao-desktop {
    color: #ececec;
    font-size: 1.1vw;
}

#container-left-desktop-parceiros {
    display: flex;
    flex-direction: column;
}

#img1-parceiros-desktop {
    width: 5vw;
    height: auto;
}

#span-parceiros-desktop {
    font-size: 1.3vw;
}

#container-left-desktop-btncadastro {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;

}

#a-cadastro-desktop, .a-otimize-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 16vw;
    padding: 0 1vw;
    background: #d5d5d5;
    color: #000;
    height: 3vw;
    border-radius: 2vw;
}

.a-otimize-desktop {
    width: 18vw;
}

#icon-cadastro-desktop, .icon-otimize-desktop {
    width: 1.5vw;
    margin-right: .6vw;
}

#btn-cadastro-desktop, .btn-otimize-desktop {
    all: unset;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.1vw;
}

#container_oque_fazemos_desktop {
    width: 100vw;
    height: 125vh;
}

.span-title-desktop {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 1.5vw;
    font-size: 1.4vw;
}

.h1-title-desktop {
    color: #000;
    text-align: center;
    font-weight: 400;
}

#container-oque-fazemos-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

#subcontainer-oque-fazemos-desktop {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.container-oque-fazemos-cards-desktop {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.card-oque-fazemos-desktop {
    height: 45%;
    width: 100%;
    background: #f4f4f4;
    border-radius: 10px;
}

.container-oque-fazemos-img {
    height: 45%;
    display: flex;
    align-items: center;
}

.cards-icons-desktop {
    width: 4vw;
    margin-left: 2vw;
}

.container-oque-fazemos-cards-txt {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #000;
    padding-left: 1.4vw;
}

.span-card-desktop {
    font-weight: 500;
    font-size: 1.2vw;
}

.p-desc-cards-desktop {
    font-weight: 400;
    font-size: 1vw;
    width: 75%;
}

.subcontainer-diferencial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#container_diferencial-desktop {
    height: 100vh;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#diferencial-h1-desktop {
    text-align: center;
    padding-top: 2%;
    font-size: 2.5vw;
    font-weight: 400;
}

#container-diferencial-desktop {
    height: 80%;
    display: flex;
}

#img_diferencial-desktop {
    width: 30vw;
}

#subcontainer-diferencial-right {
    justify-content: start;
}

#container-diferencial-info {
    height: 68%;
    width: 70%;
}

#h2-diferencial-desktop {
    font-weight: 350;
    font-size: 2.45vw;
}

#p-diferencial-desktop {
    margin-top: 3%;
    font-size: 1vw;
}

#container-diferencial-metricas {
    height: 25%;
    display: flex;
}

.subcontainer-diferencial-metricas, #container-diferencial-btn {
    display: flex;
    flex-direction: column;
}

.span-diferencial-metricas {
    font-size: 2.5vw;
}

.span-diferencial {
    white-space: nowrap;
    font-size: 1vw;
}

#container-fluxo-desktop {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subcontainer-fluxo-desktop {
    height: 100%;
    width: 90%;
}

#container-fluxo-top-desktop, #container-fluxo-bottom-desktop {
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin-top: 5vw;
}

#container-fluxo-bottom-desktop {
    margin: 0;
}

.card-fluxo-desktop {
    width: 28%;
    height: 15vw;
    position: relative;
    background: url("../Assets/Elements/linha1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card-title-fluxo-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27%;
    width: 40%;
    position: absolute;
    left: 24%;
    top: -13.5%;
}

#card-title-fluxo3-desktop {
    left: 16.5%;
}

.icon-card-fluxo-desktop {
    width: 4vw;
}

.span-card-fluxo-desktop {
    color: #000;
    font-size: 1.8vw;
}

#span-card-fluxo3-desktop {
    padding: 0;
    white-space: nowrap;
}

.p-card-fluxo-desktop, #p-card-fluxo5-desktop, #p-card-fluxo4-desktop {
    color: #000;
    width: 60%;
    margin-top: 6vw;
    margin-left: 2vw;
    font-size: 1.2vw;
}

.p-card-fluxo-desktop:nth-child(2) {
    margin-top: 4.2vw;
}

.card-fluxo-desktop:nth-child(3) {
    background: url("../Assets/Elements/linha2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20vw;
    width: 24%;
}

#container-fluxo-bottom-desktop .card-fluxo-desktop:nth-child(2) {
    background: url("../Assets/Elements/linha3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#container-fluxo-bottom-desktop .card-fluxo-desktop:nth-child(1) {
    background: url("../Assets/Elements/linha4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#container-fluxo-bottom-desktop .card-fluxo-desktop:nth-child(1) .card-title-fluxo-desktop {
    left: 23%;
    top: -13.5%;
}

#p-card-fluxo5-desktop, #p-card-fluxo4-desktop {
    margin-top: 3vw;
    margin-left: 8.2vw;
}

#p-card-fluxo4-desktop {
    margin-left: 12.5vw;
}

#p-card-fluxo3-desktop {
    width: 80%;
    margin-top: 3vw;
}

#card-fluxo4-desktop {
    width: 34%;
}

#container_conecte_desktop {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcontainer_conecte_desktop {
    height: 90%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-info-conecte-desktop, #container-info-mantenha-desktop {
    height: 55%;
    width: 100%;
}

#h2-conecte-desktop, #h2-mantenha-desktop {
    width: 100%;
    color: #000;
    font-weight: 400;
    font-size: 2.45vw;
}

#p-conecte-desktop, #p-mantenha-desktop {
    margin-top: 5%;
    width: 85%;
    font-size: 1vw;
    color: #000;
}

#img_conecte_desktop {
    width: 35vw;
}

#container_mantenha_desktop {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subcontainer_mantenha_desktop {
    height: 90%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_mantenha_desktop {
    width: 32vw;
}

#container_mantenha_desktop .subcontainer_mantenha_desktop:nth-child(2) {
    margin-left: 3%;
}

#container_monitore_desktop,
#subcontainer_monitore_desktop,
#container_monitore_info_desktop {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container_monitore_desktop {
    margin-top: 3%;
    width: 100%;
    height: 15vw;
}

#subcontainer_monitore_desktop {
    width: 70%;
    height: 10vw;
    background: url("../Assets/Elements/img_monitore_tempo_real.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    flex-direction: column;
}

#container_monitore_info_desktop {
    height: 40%;
    width: 60%;
    flex-direction: column;
}

#span_monitore_info_desktop {
    font-weight: 400;
    font-size: 2vw;
}

#a-comece-desktop {
    width: 12vw;
    height: 2.5vw;
}