* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#header_mobile {
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    transition: 0.2s ease;
    background-color: #000;
    z-index: 999;
}

.espaco-header-mobile {
    padding-top: 10vh !important;
}

#header_logo_mobile {
    width: 20vw;
}

#header_menu_mobile {
    width: 4vw;
}

#container_menu_mobile {
    position: fixed;
    overflow: hidden;
    top: 10vh;
    height: 0;
    width: 100%;
    transition: 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #000;
    background-image: url("../Assets/Elements/fundoMenu_mobile.svg");
    z-index: 999;
}

#h2_menu {
    font-size: 6vw;
    color: #fff;
    font-weight: 450;
}

#navegacao_header_mobile {
    height: 70vh;
    display: flex;
    justify-content: center;
}

#nav_header_mobile {
    height: 80%;
    width: 100%;
    display: flex;
}

#ul_header_mobile {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    padding: 0;
}

.li_header_mobile {
    list-style: none;
    font-size: 3.5vw;
    width: 65%;
}

.divisor_li_mobile {
    height: 0.12vw;
    width: 100%;
    background: #00C4CC;
}

.container_header_li_mobile {
    height: 8.4vh;
    padding-left: 8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

#main_mobile {
    padding-top: 10vh;
    height: 200vh;
    width: 100%;
}

#container_inicial_mobile {
    background: url("../Assets/Elements/bg_inicio_desktop.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 8vw;
}

#subcontainer_inicial_top_mobile {
    padding-top: 1vw;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#subcontainer-info-txt-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#p-inicial-info-txt-mobile, #p-inicial-info-descricao-mobile {
    width: 90%;
    height: auto;
}

#p-inicial-info-txt-mobile {
    font-size: 10vw;
    font-weight: 300;
}

#p-inicial-info-descricao-mobile {
    font-size: 4.5vw;
    font-weight: 200;
}

.btn_style_mobile {
    width: 100%;
    padding: 0 2.2vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20vw;
    font-size: 3.8vw;
    margin-top: 2%;
    background: #D5D5D5;
    border: none;
    color: #000;
}

.btn_arrow_style_mobile {
    width: 6vw;
}

.a_btn_mobile {
    width: 60vw;
    text-decoration: none;
}

#subcontainer_inicial_img_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
}

#img_inicio_mobile {
    width: 100vw;
}

#subcontainer_inicial_parceiros_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#span-parceiros-mobile, #img1-parceiros-mobile {
    padding-left: 3vw;
}

#span-parceiros-mobile {
    font-size: 5vw;
}

#img1-parceiros-mobile {
    width: 23vw;
}

#container_oque_fazemos_mobile {
    height: auto;
}

.span-title-mobile {
    font-size: 5vw;
    display: block;
    text-align: center;
    width: 100%;
}

.h1-title-mobile {
    color: #000;
    text-align: center;
    font-size: 6vw;
    font-weight: 400;
}

#container_cards_mobile {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vw;
    padding: 6vw 0;
}

.cards_mobile {
    height: 62vw;
    width: 90%;
    background: #f4f4f4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5vw 0;
}

.box_img_cards_mobile {
    display: flex;
    align-items: center;
    padding-left: 5vw;
    height: 30%;
}

.img_cards_mobile {
    width: 17%;
}

.box_txt_cards_mobile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 65%;
    padding-left: 5vw;
}

.spn_title_cards {
    color: #000;
    font-size: 5vw;
    font-weight: 400;
}

.p_txt_cards {
    padding: 0;
    margin: 0;
    color: #000;
    font-size: 3.8vw;
    width: 95%;
}

#container_diferencial-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    background: #000;
    padding-bottom: 8vw;
}

#subcontainer_diferencial_img_mobile, #subcontainer_conecte_img_mobile {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#img_diferencial_mobile {
    width: 80vw;
}

#diferencial-h1-mobile {
    font-weight: 400;
    color: #fff;
}

#subcontainer_diferencial_gerencie_mobile {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#h2-diferencial-mobile {
    margin-top: 5%;
    width: 65%;
    font-size: 8.5vw;
    font-weight: 400;
}

#p-diferencial-mobile, .span-diferencial-mobile {
    font-size: 3.5vw;
    font-weight: 400;
}

#subcontainer_diferencial_metricas_mobile, #container_monitore_info_mobile, #container_monitore_mobile, #subcontainer_monitore_mobile, #subcontainer_diferencial_btn_mobile, #subcontainer_conecte_btn_mobile, #subcontainer_fluxo_mobile, #container_nav_footer_mobile, #container_info_footer_mobile {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.span-diferencial-metricas-mobile {
    font-size: 9vw;
}

#subcontainer_diferencial_btn_mobile {
    margin-top: 5%;
}

#container_conecte_mobile, #container_fluxo_mobile {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding-bottom: 8vw;
}

#h2-conecte-mobile {
    margin-top: 5%;
    width: 90%;
    font-size: 8.5vw;
    font-weight: 400;
    color: #000;
}

#p-diferencial-mobile, #p-conecte-mobile {
    width: 95%;
}

#p-conecte-mobile {
    font-size: 3.5vw;
    font-weight: 400;
    color: #000;
}

#subcontainer_fluxo_mobile {
    gap: 8vw;
    padding-top: 10vw;
}

#container_fluxo_mobile {
    background: #fff;
}

.cards_fluxo_mobile {
    position: relative;
    height: 60vw;
    width: 80%;
    background: url('../Assets/Elements/linha1_mobile.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#card-title-fluxo-mobile {
    height: auto;
}

.card-title-fluxo-mobile {
    display: flex;
    align-items: center;
    height: 27%;
    width: 50vw;
    position: absolute;
    left: 10%;
    top: -13.5%;
}

.icon-card-fluxo-mobile {
    width: 15vw;
}

.span-card-fluxo-mobile {
    padding-left: 2vw;
    color: #000;
    font-size: 5.5vw;
}

.p-card-fluxo-mobile {
    color: #000;
    width: 100%;
    padding: 0 4vw;
    font-size: 4.3vw;
    margin-bottom: 10vw;
}

#container_monitore_mobile {
    padding-bottom: 8vw;
}

#subcontainer_monitore_mobile {
    width: 90vw;
    height: 40vw;
    border-radius: 20px;
    background: url("../Assets/Elements/img_monitore_tempo_real.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200% 120%;
    flex-direction: column;
}

#span_monitore_info_mobile {
    font-size: 5vw;
    text-align: center;
}

#container_monitore_info_mobile {
    margin-top: 5%;
}

#footer_mobile {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6vw 0;
}

#logo-footer-mobile {
    width: 22vw;
}

#p-footer-mobile {
    width: 85%;
    font-size: 3vw;
}

.spn_title_footer_mobile {
    font-size: 3.8vw;
    width: 85%;
}

#container_nav_footer_mobile .spn_title_footer_mobile:nth-child(1) {
    width: auto;
}

#nav_footer_mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

#ul_footer_mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vw;
}

#container_nav_footer_mobile {
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    width: 80%;
    padding: 1vw 0;
}

.li_footer_mobile {
    list-style: none;
    font-size: 3vw;
}

#container_info_footer_mobile {
    margin-top: 3%;
    gap: 1.4vw;
}

.spn_desc_footer_mobile {
    font-size: 2vw;
    width: 85%;
}