* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: poppins leve;
    src: url("../Assets/assets_dashboard/poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins medio;
    src: url("../Assets/assets_dashboard/poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: poppins bold;
    src: url("../Assets/assets_dashboard/poppins/Poppins-Bold.ttf");
}

div {
    height: 100%;
    width: 100%;
    color: #fff;
}

#mobileContent {
    background: #decb1b;
}

#tabletContent {
    background: #0f94b5;
}