:root {
    --branco-bordas: rgb(230, 230, 230);
    --ciano: #268184;
    --azul-claro: #2ed1d7;
    --verde: #00bf35;
    --laranja: #f4a261;
    --vermelho: #e63946;
}

body {
    overflow-x: hidden;
}

#meio-cima {
    margin-top: 2%;
}

#meio-baixo {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 3%;
}

#container-tabela {
    width: 90%;
}

#tabela-visao-geral {
    margin-bottom: 0;
}

#tabela-arredondada {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid var(--branco-bordas);
}

.linha-tabela-visao-geral {
    height: 7vh;
}

.celula-tabela {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2% 0 !important;
    text-align: center;
}

.containeres {
    padding: 2%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
}

#container-filtro {
    width: 90%;
    height: 35vh;
}

#titulo-container-tabela,
#titulo-container-filtros {
    width: 90%;
    height: 12vh;
    font-family: 'Montserrat';
}

#titulo-container-tabela h1,
#titulo-container-filtros h1 {
    font-weight: bold;
}

#titulo-container-tabela p,
#titulo-container-filtros p {
    margin-bottom: 3%;
}

#busca-filtros {
    all: unset;
    background-color: var(--branco-bordas);
    padding: 15px;
    width: 70%;
    border-radius: 8px;
}
.select-filtros {
    all: unset;
    border: 2px solid var(--branco-bordas);
    padding: 10px;
    width: 10%;
    border-radius: 8px;
    margin-left: 1%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");

    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    cursor: pointer;
}

.select-baixo {
    margin-left: 0;
    width: 11%;
}

#select-componente {
    width: 16%;
}

#filtros-container-filtros {
    margin-top: 1%;
    width: 90%;
}

#button-filtrar {
    padding: 13px;
    width: 5vw;
    text-align: center;
    border-radius: 10px;
    background-color: var(--ciano);
    color: #fff;
    font-size: 1.08rem;
    font-weight: bold;
    font-family: 'Montserrat';
    transition: 0.5s ease all;
    margin-left: 1%;
}

#button-filtrar:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#busca-container-filtros {
    display: flex;
}

#esquerda {
    all: unset;
    background-color: #232023;
    width: 15%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
}

.corpo {
    all: unset;
    display: flex;
    background-color: #f7f7f7;
}

.celula-normal {
    color: var(--verde) !important;
    font-weight: bold;
}

.celula-moderado {
    color: var(--laranja) !important;
    font-weight: bold;
}

.celula-critico {
    color: var(--vermelho) !important;
    font-weight: bold;
}

#botao-chamado {
    font-size: 0.9vw;
}

#esquerda-centro {
    all: unset;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}