@font-face {
    font-family: poppins leve;
    src: url("../../../Assets/assets_dashboard/poppins/Poppins-Light.ttf");
}

body {
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#dashSeguranca {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #F7F7F7;
}

#esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232023;
    height: 100%;
    width: 15%;
}

#esquerda img {
    height: 8vw;
}

#navegacao {
    width: 85%;
    height: 40%;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#navegacao h1 {
    margin: 0;
    margin-left: 0.5vw;
    font-size: 0.92vw;
    transition: 0.2s ease;
    line-height: normal;
    font-weight: bold;
}

.linha {
    background-color: #999999;
    width: 100%;
    height: 0.1vw;
}

#navegacaoSair {
    width: 85%;
    height: 65%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#btSair {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btSair h1 {
    font-size: 1vw;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 0;
}

#btSair h1:hover {
    color: #ff0000;
}


#btSair img {
    height: 1.25vw;
}

#esquerda-cima {
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquerda-centro {
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
}

#esquerda-baixo {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegacao h1:hover {
    cursor: pointer;
    margin-left: 15px;
}

#direita {
    width: 85%;
    height: 100%;
}

#direita-cima {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30%;
}

#titulo-seguranca {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2.45vw;
    font-weight: 500;
    color: #268184;
    margin-left: 5%;
    white-space: nowrap;
}

#direita-baixo {
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#centro-seguranca {
    width: 76vw;
    height: 84vh;
    margin-top: 0.5vh;
    display: flex;
}

#informacoes {
    height: 100%;
    width: 82%;
}

#listas {
    height: 100%;
    width: 28%;
}

#KPIS {
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conteudo {
    width: 100%;
    height: 73%;
    display: flex;
}

#conexoes {
    width: 100%;
    height: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alertas {
    width: 100%;
    height: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grafico {
    height: 100%;
    width: 69%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#arquivos {
    height: 100%;
    width: 31%;
    display: flex;
    align-items: flex-start;
}

#caixa_conexoes {
    width: 87%;
    height: 95%;
    background-color: white;
    border-radius: 0.6vw;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 18px;
}

#caixa_alertas {
    width: 87%;
    height: 92%;
    background-color: white;
    border-radius: 0.6vw;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 18px;

}

.kpi {
    width: 23%;
    height: 91%;
    background-color: white;
    border-radius: 0.6vw;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 18px;

}

#caixa_grafico {
    height: 96%;
    width: 98%;
    background-color: white;
    border-radius: 0.6vw;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 18px;
    margin-top: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#caixa_arquivos {
    height: 96%;
    width: 98%;
    background-color: white;
    border-radius: 0.6vw;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 18px;
    margin-top: 0.3vw;
}

#titulo_grafico {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#graficoLinha {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo-grafico-linha {
    font-size: 1.4vw;
    font-family: "Montserrat", sans-serif;
    color: #545454;
    text-align: center;
}

#titulo_alertas {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-historico-alertas {
    font-size: 1.4vw;
    font-family: "Montserrat", sans-serif;
    color: #545454;
}

.linha_caixas {
    background-color: #999999;
    width: 90%;
    height: 0.105vw;
}

#lista_alertas {
    height: 76%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6vw;
}

.box_alerta {
    width: 90%;
    flex: none;
    background-color: #ffffff;
    border: 2px solid #e4e4e4;
    border-radius: 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.2vw;
}

.box_alerta h1, h2, h3, h4 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.gravidade-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 8px;
    gap: 5px;
}

.gravidade-alerta img {
    width: 2vw;
}

.componente-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 8px;
    gap: 10px;
}

.box_alerta h1 {
    font-size: 1.2vw;
    color: #df8e4e;
}

.box_alerta h2 {
    color: #445257;
    font-size: 1vw;
}

.box_alerta h3 {
    width: 95%;
    text-align: end;
    color: #999999;
    font-size: 0.8vw;
    padding: 1% 3% 0 0;
}

.box_alerta h4 {
    color: #797a7b;
    font-size: 0.85vw;
    margin-left: 0.5vw;
}

#titulo_conexoes {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-conexoes-abertas {
    font-size: 1.4vw;
    font-family: "Montserrat", sans-serif;
    color: #545454;
}

#lista_conexoes {
    width: 100%;
    height: 76%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    gap: 0.6vw;
}

.box_conexao {
    width: 90%;
    border-radius: 0.3vw;
    border: 0.105vw solid #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
}

.porta_conexao, .pipe_conexao, .ip_conexao {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4vw;
}

.porta_conexao {
    color: #747474;
}

.pipe_conexao {
    color: #2dafb7;
}

.ip_conexao {
    font-weight: 300;
    color: #747474;
}

#titulo_arquivos {
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-arquivos-criticos {
    font-size: 1.6vw;
    font-family: "Montserrat", sans-serif;
    color: #545454;
}

#lista_arquivos {
    width: 100%;
    height: 84%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    gap: 0.6vw;
}

.titulo-nome-arquivo {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1vw;
    color: #666666;
    font-weight: 300;
}

.linha_arquivos {
    background-color: #c4c4c4;
    width: 80%;
    min-height: 0.08vw;
    /* outline: 0.08vw solid #c4c4c4; */
}

.img-arquivo {
    height: 1.5vw;
}

.nome_arquivo {
    display: flex;
    width: 70%;
    align-items: flex-start;
    gap: 3.7vw;
}

.box-titulo-kpi {
    height: 46%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-valor-kpi {
    height: 54%;
    width: 100%;
}

.titulo-kpi {
    text-align: center;
    font-size: 1.2vw;
    max-width: 95%;
    font-family: "Montserrat", sans-serif;
    color: #3a3d3d;
    font-weight: 300;
}

.valor-kpi {
    text-align: center;
    font-size: 2.8vw;
    font-family: "Montserrat", sans-serif;
    color: #545454;
}