#container_master {
    position: relative;
    height: 40vh;
    width: 100%;
    background: url("../../../Assets/Elements/img_principal_mobile.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#logo {
    position: absolute;
    height: 40vh;
    width: 100%;
    background: url("../../../Assets/Logo/UpFinity.png");
    background-size: 30% 30%;
    background-repeat: no-repeat;
    background-position: 5% 10%;
}

#container_cadastro {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#container_cadastro h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #222;
}

.etapa {
    text-align: center;
    margin-bottom: 15px;
}

.etapa img {
    width: 40px;
    height: auto;
    display: block;
    margin: 0 auto 5px auto;
}

.etapa p {
    font-size: 1rem;
    color: #333;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

label {
  font-size: 0.9rem;
  margin-top: 10px;
  color: black;
}

input {
  margin-top: 5px;
  padding: 10px;
  border: none;
  background-color: #f1f3f6;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 12px;
  background-color: #00d6d6;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.login {
  margin-top: 20px;
  color: #007bff;
  font-size: 0.9rem;
}



