@font-face {
    font-family: poppins leve;
    src: url("../../../Assets/assets_dashboard/poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: poppins medio;
    src: url("../../../Assets/assets_dashboard/poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: poppins bold;
    src: url("../../../Assets/assets_dashboard/poppins/Poppins-Bold.ttf");
}

body {
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

.corpo {
    display: flex;
    background-color: #F7F7F7;
    height: 100vh;
    width: 100vw;
}

#esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232023;
    height: 100%;
    width: 15%;
}

#esquerda img {
    height: 8vw;
}

#centro {
    height: 100%;
    width: 85%;
}

#navegacao {
    width: 85%;
    font-family: poppins leve;
    color: white;
    font-size: 10px;
}

#navegacao h1 {
    margin-left: 8px;
    font-size: 1vw;
    transition: 0.2s ease;
}

.linha {
    background-color: #999999;
    width: 100%;
    height: 0.1vw;
}

#navegacaoSair {
    width: 85%;
    height: 100%;
    text-align: center;
    font-family: poppins leve;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btSair {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btSair h1 {
    font-size: 1vw;
    cursor: pointer;
    transition: 0.2s ease;
}

#btSair h1:hover {
    color: #ff0000;
}


#btSair img {
    height: 1.5vw;
}

#esquerda-cima {
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquerda-centro {
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
}

#esquerda-baixo {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centro-cima {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
}

#titulo {
    margin: 0;
    font-family: poppins medio;
    font-size: 2.45vw;
    margin-left: 2%;
    white-space: nowrap;
    color: #268184;
}

#centro-esquerda {
    width: 70%;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#centro-direita {
    width: 22%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comboATMs {
    height: 45%;
    width: 12%;
    background-color: #00c7cd;
    border: 2px solid #2db2b7;
    border-radius: 25px;
    font-family: poppins medio;
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    margin-left: 3%;
}

#centro-baixo {
    height: 88%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

#box-kpis {
    height: 25%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kpi {
    height: 85%;
    width: 22%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
}

#box-graficos {
    height: 75%;
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
    padding: 0.5vw 0;
}

#combo_componentes {
    text-align: center;
    width: 80px;
    height: 26px;
    border: 3px solid #00c5cc;
    border-radius: 10px;
    background-color: white;
    font-family: poppins medio;
    color: #232023;
}

#caixa_global_graflinha {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#caixagraflinha {
    min-height: auto !important;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#linha_cima {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#linha_cima h1 {
    margin: 0;
    font-family: poppins bold;
    text-align: center;
    font-size: 1.3vw;
    color: #3c4041;
}

#torta_baixo {
    width: 100%;
    height: 75%;
}

#caixagraftorta {
    height: 90%;
    width: 42%;
    /* background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lado-titulo {
    display: flex;
    height: 100%;
    width: 56.8%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 2.6%;
}

.apexcharts-menu {
    font-family: 'Arial', sans-serif !important;
    font-size: 16px !important;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apexcharts-title-text {
    text-anchor: middle !important;
}


#torta_cima {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#torta_cima h1 {
    margin: 0;
    font-family: poppins bold;
    text-align: center;
    font-size: 1.2vw;
    color: #3c4041;
    max-width: 75%;
}


.kpi-cima {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 2%;
    gap: 4%;
}

.kpi-baixo {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.kpi-cima img {
    height: 3vw;
}

.kpi-cima h1 {
    font-family: poppins medio;
    font-size: 1.2vw;
    color: #3c4041;
}

.kpi-baixo h1, h2 {
    margin: 0;
    font-family: poppins bold;
}

.kpi-baixo h1 {
    font-size: 2vw;
    color: #445257;
}

.kpi-baixo h2 {
    font-size: 1vw;
    color: #e63946;
}

#caixaalertas {
    margin-bottom: 2%;
    height: 100%;
    width: 98%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
}

#caixalerta-cima {
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
}

#caixalerta-cima h1 {
    max-width: 90%;
    font-size: 1.2vw;
    margin: 0;
    text-align: center;
    font-family: poppins bold;
    color: #3c4041;
}

#caixalerta-cima .linha {
    width: 90%;
}

#caixalerta-baixo {
    width: 100%;
    height: 81%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.box_alerta {
    width: 90%;
    height: 25%;
    background-color: #ffffff;
    border: 2px solid #2db2b7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2vw;
}

.box_alerta h1, h2, h3, h4 {
    margin: 0;
    font-family: poppins bold;
}

.gravidade-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 8px;
    gap: 5px;
}

.gravidade-alerta img {
    width: 2vw;
}

.componente-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 8px;
    gap: 10px;
}

.box_alerta h1 {
    font-size: 1.2vw;
    color: #e63946;
}

.box_alerta h2 {
    color: #445257;
    font-size: 1vw;
}

.box_alerta h3 {
    width: 95%;
    text-align: end;
    color: #999999;
    font-size: 0.8vw;
    padding: 1% 3% 0 0;
}

.box_alerta h4 {
    color: #797a7b;
    font-size: 1vw;
}

#navegacao h1:hover {
    cursor: pointer;
    margin-left: 15px;
}

#meio-cima {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30%;
}

#vg_titulo {
    margin: 0;
    font-family: poppins medio;
    font-size: 2.45vw;
    color: #268184;
    margin-left: 5%;
    white-space: nowrap;
}

#centros {
    display: flex;
    justify-content: center;
    max-height: 85%;
    flex-wrap: wrap;
    gap: 50px;
    overflow-y: scroll;
    padding-left: 100px;
    padding-right: 100px;
}

.visao_maquina {
    width: 18vw;
    height: 7vw;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

::-webkit-scrollbar-thumb {
    background: #cc1a1a;
    border-radius: 5px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #01c6cc #F7F7F7;
}

#legenda {
    width: 40%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

#legenda h1 {
    font-family: poppins medio;
    font-size: 1.2vw;
    color: #353535;
}

#legenda img {
    width: 25px;
}

.visao_maquina h1 {
    font-family: poppins medio;
    font-size: 1.2vw;
    color: #353535;
}

.img_atm {
    height: 3vw;
}

.img_circulo {
    height: 1.2vw;
}

.img_wifi, .img_sem_wifi {
    margin-right: 10px;
}

.dentro_vm {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}

#meio-baixo {
    height: 88%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

.caixas_gestao {
    margin-top: 1%;
    width: 38%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
}

.caixas_gestao_esquerda {
    height: 74%;
}

.caixa_gestao_esquerda_cima {
    height: 40%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.caixa_gestao_esquerda_baixo {
    width: 100%;
    height: 87%;
    margin-top: 5%;
}

.caixa_gestao_cima {
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.caixa_gestao_cima h1,
.caixa_gestao_esquerda_cima h1 {
    margin: 0;
    font-family: poppins bold;
    font-size: 1.5vw;
    color: #5c5f60;
}

.caixa_gestao_cima h1 {
    margin-top: 2%;
}

.caixa_gestao_esquerda_cima h1 {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 3%;
}

.linha_caixa_gestao {
    background-color: #2db2b7;
    width: 90%;
    height: 3px;
}

.linha_caixa_cadastrar {
    width: 90%;
}

#caixa_cadastro_baixo {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
}

#caixa_cadastro_baixo button {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7vw;
    width: 80%;
    height: 10%;
    border-radius: 15px;
    border: none;
    background-color: #00c5cc;
    color: #fff;
    transition: 0.3s ease;
}

#caixa_cadastro_baixo button:hover {
    cursor: pointer;
    color: #00c5cc;
    background-color: #fff;
    border: 2px solid #00c5cc;
}

#inputs h1 {
    margin: 0;
    font-family: poppins bold;
    color: #797a7b;
    font-size: 1vw;
    float: left;
    width: 78%;
}

.inputs {
    text-align: center;
    font-family: poppins bold;
    font-size: 1vw;
    width: 80%;
    border-radius: 15px;
    border: 2px solid #999999;
    color: #999999;
    background-color: white;
}

.botao {
    text-align: center;
    font-family: poppins bold;
    font-size: 1vw;
    width: 80%;
    height: 10%;
    border-radius: 15px;
    border: none;
    background-color: #00c5cc;
    color: #fff;
    transition: 0.3s ease;
}

.botao:hover {
    cursor: pointer;
    color: #00c5cc;
    background-color: #fff;
    border: 2px solid #00c5cc;
}

.botao_cadastrar_atm {
    margin-top: 5%;
    height: 20%;
    font-size: 1.3vw;
}

#inputs select:hover {
    cursor: pointer;
}


#inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    margin-top: 2%;
}

#inputs input {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8vw;
    width: 80%;
    height: 10%;
    padding-left: 0.4vw;
    border-radius: 15px;
    border: 2px solid #999999;
    color: #5c5f60;
}

#inputs select {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    width: 80%;
    height: 12%;
    border-radius: 15px;
    border: 2px solid #999999;
    color: #999999;
    background-color: white;
}

#caixa_gestao_baixo {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

#caixa_pesquisa {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

#simbolo_buscar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#simbolo_buscar h1 {
    margin: 0;
    font-family: poppins bold;
    color: #797a7b;
    font-size: 1vw;
}

#simbolo_buscar img {
    width: 1.15vw;
    padding-left: 0.2vw;
}

#caixa_pesquisa input {
    font-family: poppins bold;
    font-size: 1vw;
    padding-left: 0.2vw;
    width: 58%;
    height: 2vw;
    border-radius: 15px;
    border: 2px solid #999999;
    color: #5c5f60;
}

#simbolo_buscar, #simbolo_buscar h1:hover {
    cursor: pointer;
    color: #5c5f60;
}

#baixo_gestao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
    gap: 20px;
    overflow-y: scroll;
}

.caixa_usuario {
    width: 80%;
    height: 43%;
    padding: 1vw 0;
    border: 3px solid #2db2b7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.titulos h1 {
    margin: 0;
    font-family: poppins medio;
    font-size: 1vw;
    color: #797a7b;
}

.informacoes {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.infos h1 {
    margin: 0;
    font-family: poppins bold;
    font-size: 1vw;
    color: #445257;
}

.titulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.botoes button {
    height: 100%;
    width: 45%;
    background-color: white;
    font-size: 1.2vw;
    font-family: poppins bold;
    cursor: pointer;
}

.btn_promover {
    border: 3px solid #00bf35;
    border-radius: 10px;
    color: #00bf35;
    transition: 0.3s ease;
}

.btn_promover:hover {
    color: #fff;
    background: #00bf35;
}

.btn_remover {
    border: 3px solid #ff1313;
    border-radius: 10px;
    color: #ff1313;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn_remover:hover {
    background: #ff1313;
    color: #fff;
}

.apexcharts-menu-icon {
    width: 2vw !important;
    height: 2vw !important;
}

.apexcharts-menu-icon svg {
    width: 2vw;
    height: 2vw;
}

.caixa_gestao {
    width: 80%;
    padding: 2vw 0;
    border: 3px solid #2db2b7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.infos_atms {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informacoes-extensao-atms {
    gap: 45px;
}

.combo_status {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.combo_status h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    color: #5c5f60;
    margin-top: 10%;
}

.combo_status select {
    text-align: center;
    font-family: poppins bold;
    font-size: 1vw;
    width: 100%;
    height: 50px;
    border-radius: 10   px;
    border: 2px solid #999999;
    color: #999999;
    background-color: white;
}

.caixas_esquerda {
    margin-top: 1%;
    width: 38%;
    height: 90%;
}

.inputs_cima {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 86%;
    height: 100%;
}

.inputs_baixo {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.caixa_input {
    align-items: center;
    width: 100%;
    text-align: center;
}

.div_input_limite_max {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ipt_limite_max {
    margin-top: 3%;
    height: 28%;
    text-align: center;
}

.input_nivel_alerta {
    margin-top: 3%;
    padding: 3%;
}

.input_componente {
    height: 35%;
    margin-top: 1%;
    text-align: center;
    font-size: 1vw;
}

.inputs_cima h2,
.inputs_baixo h2 {
    color: #5c5f60;
}

.botao_definir_parametros {
    height: 15%;
    margin: 0;
    /* margin-top: -10%; */
}

