@font-face {
    font-family: poppins leve;
    src: url("../../../Assets/assets_dashboard/poppins/Poppins-Light.ttf");
}

body {
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

#alerta_erros_desktop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.638);
    backdrop-filter: blur(2px);
    z-index: 999;
}

#span-erro-desktop {
    font-size: 1vw;
    color: #fff;
}

#box_container_erro_desktop {
    height: 25%;
    width: 40%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #00c4cc 2px solid;
    border-radius: 15px;
}

#container-erro-desktop {
    overflow: hidden;
    height: 65%;
    width: 95%;
    background: #000;
}

#h2-erro-desktop {
    font-size: 1.8vw;
    font-weight: bold;
    color: #f01008;
}

#btnFecharErro-desktop {
    all: unset;
    width: 8vw;
    color: #fff;
    height: 2.1vw;
    border: #00c4cc 1px solid;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s ease;
}

#btnFecharErro-desktop:hover {
    background: #00c4cc;
    color: #000;
}

.corpo {
    display: flex;
    background-color: #F7F7F7;
    height: 100vh;
    width: 100vw;
}

#esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232023;
    height: 100%;
    width: 15%;
}

#esquerda img {
    height: 8vw;
}

#centro {
    height: 100%;
    width: 85%;
}

#navegacao {
    width: 85%;
    height: 40%;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#navegacao h1 {
    margin: 0;
    margin-left: 0.5vw;
    font-size: 0.92vw;
    transition: 0.2s ease;
    line-height: normal;
    font-weight: bold;
}

.linha {
    background-color: #999999;
    width: 100%;
    height: 0.1vw;
}

#navegacaoSair {
    width: 85%;
    height: 65%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#btSair {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#btSair h1 {
    font-size: 1vw;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 0;
}

#btSair h1:hover {
    color: #ff0000;
}


#btSair img {
    height: 1.25vw;
}

#esquerda-cima {
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esquerda-centro {
    width: 100%;
    height: 53%;
    display: flex;
    justify-content: center;
}

#esquerda-baixo {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centro-cima {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
}

#titulo {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2.45vw;
    margin-left: 2%;
    white-space: nowrap;
    color: #268184;
}

#centro-esquerda {
    width: 70%;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#centro-direita {
    width: 22%;
    height: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comboATMs {
    border: none;
    outline: none;
    height: 45%;
    width: 12%;
    background-color: #2ed1d7;
    border: 2px solid #000000;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
    margin-left: 3%;
}

#comboATMs:focus {
    border: 2px solid #000000;
}

#centro-baixo {
    height: 88%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

#box-kpis {
    height: 25%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kpi {
    height: 85%;
    width: 22%;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
}

#box-graficos {
    height: 75%;
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
    padding: 0.5vw 0;
}

#combo_componentes {
    text-align: center;
    width: 80px;
    height: 26px;
    border: 3px solid #00c5cc;
    border-radius: 10px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    color: #232023;
}

#caixa_global_graflinha {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#caixagraflinha {
    min-height: auto !important;
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#linha_cima {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#linha_cima h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.3vw;
    color: #3c4041;
}

#torta_baixo {
    width: 100%;
    height: 75%;
}

#caixagraftorta {
    height: 90%;
    width: 42%;
    /* background-color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lado-titulo {
    display: flex;
    height: 100%;
    width: 56.8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4.5%;
}

.apexcharts-menu {
    font-family: 'Arial', sans-serif !important;
    font-size: 16px !important;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apexcharts-title-text {
    text-anchor: middle !important;
}


#torta_cima {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#torta_cima h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.2vw;
    color: #3c4041;
    max-width: 75%;
}


.kpi-cima {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 2%;
    gap: 4%;
}

.kpi-baixo {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.kpi-cima img {
    height: 3vw;
}

.kpi-cima h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    color: #3c4041;
}

.kpi-baixo h1, h2 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.kpi-baixo h1 {
    font-size: 1.7vw;
    color: #445257;
}

.kpi-baixo h2 {
    font-size: 1vw;
    color: #e63946;
}

#caixaalertas {
    overflow: hidden;
    padding-bottom: 2%;
    height: 100%;
    width: 98%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
}

#caixalerta-cima {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
}

#titulo_alertas {
    display: flex;
    gap: 0.5vw;
    align-items: center;
}

#icone_informativo {
    height: 1vw;
    transition: ease 0.3s;
}

#icone_informativo:hover {
    scale: 1.05;
    cursor: pointer;
}

#caixalerta-cima h1 {
    max-width: 90%;
    font-size: 1.2vw;
    white-space: nowrap;
    margin: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #3c4041;
}

#caixalerta-cima .linha {
    width: 90%;
}

#caixalerta-baixo {
    width: 100%;
    height: 80.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}


.box_alerta {
    width: 90%;
    flex: none;
    height: 5.7vw;
    background-color: #ffffff;
    border: 2px solid #2db2b7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.2vw;
}

.box_alerta h1, h2, h3, h4 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.gravidade-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 8px;
    gap: 5px;
}

.gravidade-alerta img {
    width: 2vw;
}

.componente-alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 8px;
    gap: 10px;
}

.box_alerta h1 {
    font-size: 1.2vw;
    color: #e63946;
}

.box_alerta h2 {
    color: #445257;
    font-size: 1vw;
}

.box_alerta h3 {
    width: 95%;
    text-align: end;
    color: #999999;
    font-size: 0.8vw;
    padding: 1% 3% 0 0;
}

.box_alerta h4 {
    color: #797a7b;
    font-size: 1vw;
}

#navegacao h1:hover {
    cursor: pointer;
    margin-left: 15px;
}

#meio-cima {
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30%;
}

#vg_titulo {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 2.45vw;
    color: #268184;
    margin-left: 5%;
    white-space: nowrap;
}

#centros {
    display: flex;
    justify-content: center;
    max-height: 85%;
    height: 100vh;
    flex-wrap: wrap;
    gap: 50px;
    overflow-y: hidden;
    padding-left: 100px;
    padding-right: 100px;
}

.visao_maquina {
    width: 18vw;
    height: 7vw;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

::-webkit-scrollbar-thumb {
    background: #cc1a1a;
    border-radius: 5px;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #01c6cc #F7F7F7;
}

#legenda {
    width: 30%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

#legenda h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    color: #353535;
    margin: 0;
}

#legenda img {
    width: 1.2vw;
}

.visao_maquina h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    color: #353535;
}

.img_atm {
    height: 3vw;
}

.img_circulo {
    height: 1.2vw;
}

.img_wifi, .img_sem_wifi {
    margin-right: 10px;
}

.dentro_vm {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 10px;
}

#meio-baixo {
    height: 88%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

.caixas_gestao {
    margin-top: 1%;
    width: 38%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 50, 0.1) 0px 10px 50px;
}

.caixas_gestao_esquerda {
    height: 74%;
}

.caixa_gestao_esquerda_cima {
    height: 40%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.caixa_gestao_esquerda_baixo {
    width: 100%;
    height: 87%;
    margin-top: 5%;
}

.caixa_gestao_cima {
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.caixa_gestao_cima h1,
.caixa_gestao_esquerda_cima h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    color: #5c5f60;
}

.caixa_gestao_cima h1 {
    margin-top: 2%;
}

.caixa_gestao_esquerda_cima h1 {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 3%;
}

.linha_caixa_gestao {
    background-color: #2db2b7;
    width: 90%;
    height: 3px;
}

.linha_caixa_cadastrar {
    width: 90%;
}

#caixa_cadastro_baixo,
#caixa_cadastro_baixo_atm {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
}

#caixa_cadastro_baixo_atm {
    gap: 0;
}

#caixa_cadastro_baixo_atm button {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    width: 80%;
    height: 10%;
    border-radius: 15px;
    border: none;
    background-color: #00c5cc;
    color: #fff;
    transition: 0.3s ease;
}


#caixa_cadastro_baixo_atm button:hover {
    cursor: pointer;
    color: #00c5cc;
    background-color: #fff;
    border: 2px solid #00c5cc;
}

#caixa_cadastro_baixo_atm button {
    font-size: 1.2vw;
}

#caixa_cadastro_baixo button:hover,
#caixa_cadastro_baixo button:hover {
    cursor: pointer;
    color: #00c5cc;
    background-color: #fff;
    border: 2px solid #00c5cc;
}

#inputs h1,
#inputs_atm h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #797a7b;
    font-size: 1vw;
    float: left;
    width: 78%;
}

.inputs {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    height: 50px;
    width: 80%;
    border-radius: 8px;
    border: 2px solid #999999;
    color: #999999;
    background-color: white;
}

.botao {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    width: 80%;
    height: 10%;
    border-radius: 15px;
    border: none;
    background-color: #00c5cc;
    color: #fff;
    transition: 0.3s ease;
}

.botao:hover {
    cursor: pointer;
    color: #00c5cc;
    background-color: #fff;
    border: 2px solid #00c5cc;
}

.botao_cadastrar_atm {
    margin-top: 6%;
    height: 22%;
    font-size: 1.2vw;
    font-weight: bold;
}

#inputs select:hover,
#inputs_atm select:hover {
    cursor: pointer;
}


#inputs,
#inputs_atm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 65%;
    width: 100%;
    margin-top: 2%;
}

#inputs input {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8vw;
    width: 80%;
    height: 10%;
    padding-left: 0.4vw;
    border-radius: 15px;
    border: 2px solid #999999;
    color: #5c5f60;
}

#inputs select {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    width: 80%;
    height: 12%;
    border-radius: 15px;
    border: 2px solid #999999;
    color: #999999;
    background-color: white;
}

#caixa_gestao_baixo {
    height: 88%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

#caixa_pesquisa {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

#simbolo_buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: 2px solid #cecece;
    padding: 2px;
    border-radius: 8px;
}

#simbolo_buscar h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #797a7b;
    font-size: 1vw;
}

#simbolo_buscar img {
    width: 1.15vw;
    padding-left: 0.2vw;
}

#caixa_pesquisa input {
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    padding-left: 0.2vw;
    width: 60%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid #999999;
    color: #5c5f60;
}

#simbolo_buscar, #simbolo_buscar h1:hover {
    cursor: pointer;
    color: #5c5f60;
}

#baixo_gestao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
    gap: 20px;
    overflow-y: scroll;
}

.caixa_usuario {
    width: 80%;
    height: auto;
    padding: 0.7vw;
    border: 3px solid #2db2b7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 13vw;
}

.titulos h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    color: #797a7b;
}

.informacoes {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.infos h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    color: #445257;
}

.titulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 5vw;
    margin-left: 0.3vw;
    justify-content: center;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.botoes {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 25px;
    height: auto;
}

.botoes button {
    height: 100%;
    width: 42%;
    background-color: white;
    font-size: 1.2vw;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.btn_atualizar {
    border: 3px solid #1d8ed9;
    border-radius: 10px;
    color: #1d8ed9;
    transition: 0.3s ease;
}

.btn_atualizar:hover {
    color: #fff;
    background: #1d8ed9;
}

.btn_promover {
    border: 3px solid #00bf35;
    border-radius: 10px;
    color: #00bf35;
    transition: 0.3s ease;
}

.btn_promover:hover {
    color: #fff;
    background: #00bf35;
}

.btn_remover {
    border: 3px solid #ff1313;
    border-radius: 10px;
    color: #ff1313;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn_remover:hover {
    background: #ff1313;
    color: #fff;
}

.apexcharts-menu-icon {
    width: 2vw !important;
    height: 2vw !important;
}

.apexcharts-menu-icon svg {
    width: 2vw;
    height: 2vw;
}

.caixa_gestao {
    width: 80%;
    height: auto;
    padding: 2vw 0;
    border: 3px solid #2db2b7;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.infos_atms {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informacoes-extensao-atms {
    gap: 80px;
}

.informacoes-extensao-atms h1 {
    font-size: 1.2vw;
}

.combo_status {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.combo_status h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2vw;
    color: #5c5f60;
}

.combo_status select {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    height: 2.5vw;
    border-radius: 10 px;
    border: 2px solid #999999;
    color: #999999;
    background-color: white;
}

.caixas_esquerda {
    margin-top: 1%;
    width: 38%;
    height: 90%;
}

.inputs_cima {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86%;
    height: 100%;
}

.inputs_baixo {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.caixa_input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.div_input_limite_max {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.ipt_limite_max {
    margin-top: 3%;
    text-align: center;
}

.input_nivel_alerta {
    margin-top: 3%;
}

.input_componente {
    margin-top: 1%;
    text-align: center;
    font-size: 1vw;
}

.inputs_cima h2,
.inputs_baixo h2 {
    color: #5c5f60;
    font-size: 1.2vw;
}

.botao_definir_parametros {
    height: 15%;
    margin: 0;
    font-weight: bold;
}

dialog {
    border: 5px solid #00c5cc;
    width: 700px;
    height: 420px;
    display: none;
    flex-direction: column;
    border-radius: 25px;
}

#titulo_modal {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.3vw;
    color: #3c4041;
}

table, th, td {
    padding: 20px;
    border: 2px solid #32b5c7;
    border-collapse: collapse;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}

table {
    width: 500px;
    height: 250px;
}

.baixo_dialog {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.botoes_dialog {
    gap: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botoes_dialog button {
    width: 240px;
    height: 50px;
    background-color: white;
    border: none;
    color: white;
    background-color: #00c5cc;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.botoes_dialog button:hover {
    cursor: pointer;
    scale: 1.02;
}

#dialogInsert {
    justify-self: center;
    align-self: center;
    display: none;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 330px;
    gap: 3vh;
}

#titulo_informar_dialog {
    font-size: 1.4vw;
    color: #268184;
}

#ip_atm, #botao_cadastrar_atm_dialog, #botao_cancelar_dialog, #ip_atm_atualizar {
    width: 80%;
    height: 5vh;
    border: 2px solid #00c4cc;
    background-color: white;
    border-radius: 0.5vw;
    font-size: 1.3vw;
    color: #3c4548;
}

#botao_cancelar_dialog {
    color: #00c4cc;
}

#botao_cadastrar_atm_dialog {
    background-color: #00c4cc;
    color: white;
}

#div_titulo_informar {
    width: 85%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoes_dialog {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.7vw;
    margin-top: 0.5vw;
    height: 38%;
}

#dialogAtualizar {
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 33vw;
    gap: 1vw;
    height: 52vh;
}

#titulo_ip_dialog {
    font-size: 1.2vw;
    color: #616d6e;
}

#div_campo_input_dialog {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botoes_dialog_atualizar {
    gap: 0.6vw;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#containerSemAtms_desktop {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#usuario_nao_encontrado_desktop {
    width: 6vw;
}

#spn_nao_encontrado_desktop {
    margin-top: 4%;
    color: #878787;
    font-size: 1.2vw;
    text-align: center;
}